html, header, body, footer {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color: rgb(31, 31, 31);
}

header a{
    text-decoration: none;
    color: white;
}

nav li {
    font-family: 'Courier New', Courier, monospace;
    display: inline;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0 20px;
}

#logo {
    padding: 5px;
    border: 3px solid white;
    border-radius: 10px;
    margin: 0 30px;
    font-family: 'typewriter';
    color: white;
    font-size: 25px;
}

#title {
    height: 685px;
    background-image: url(https://images.unsplash.com/photo-1507838153414-b4b713384a76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 25px solid rgb(31, 31, 31);
}

#title h1 {
    font-family: 'typewriter';
    color: white;
    font-size: 100px;
    padding: 22px;
    border: 5px double white;
    margin-bottom: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

footer {
    height: 60px;
    background-color: rgb(31, 31, 31);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

footer h3 {
    color: white;
    font-size: 15px;
    margin: 0 30px;
    font-family: Georgia, 'Times New Roman', Times
}

#title h5 {
    font-family: 'typewriter';
    color:  rgb(46, 19, 19);
    font-size: 100px;
    padding: 22px;
    border: 5px double white;
}

p {
    font-family: Georgia ;
    color: black;
    margin: 25px 0px 25px 0px;
    justify-content: center;
    font-size: 30px;
}

#title h6 {
    font-family: 'typewriter';
    color:  rgb(46, 19, 19);
    font-size: 75px;
    padding: 15px;
    border: 5px double white;
}

p2 {
    font-family: Georgia ;
    color: rgb(22, 1, 1);
    margin: 25px 0px 25px 0px;
    justify-content: center;
    font-size: 25px;
}

